.navbar-logo {
    height: 40px;
    width: auto;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/assets/fonts/PlaywriteDESAS-VariableFont_wght.ttf');
}

.font-custom{
    font-family: 'MyCustomFont';
}

